In [101]:
import pandas as pd
import statsmodels.api as sm
import numpy as np

In [102]:
data = pd.read_excel(f"/Users/leonardominski/Documents/Projetos Python/Pesquisa/data/output_10.xlsx")
data.columns

Index(['Unnamed: 0', 'Section G0', 'Section G1', 'Section G2', 'Section G3',
       'Section G4', 'Section G5', 'Section G6', 'Material G0', 'Material G1',
       'Material G2', 'Material G3', 'Material G4', 'Material G5',
       'Material G6', 'Fx', 'Fy', 'desloc_x', 'desloc_y', 'Tension G0',
       'Tension G1', 'Tension G2', 'Tension G3', 'Tension G4', 'Tension G5',
       'Tension G6'],
      dtype='object')

In [103]:
data = data.drop('Unnamed: 0', axis = 1)

In [104]:
data = data.drop(['Material G0', 'Material G1', 'Material G2',
       'Material G3', 'Material G4', 'Material G5', 'Material G6', 'Fx','desloc_x', 'Tension G0', 'Tension G1', 'Tension G2',
       'Tension G3', 'Tension G4', 'Tension G5', 'Tension G6', 'Fy'], axis = 1)

,Section G0,Section G1,Section G2,Section G3,Section G4,Section G5,Section G6,desloc_y
0,0.000308,0.000513,0.000513,0.000582,0.000349,0.000480,0.000389,-0.011874
1,0.000471,0.000471,0.000349,0.000480,0.000480,0.000480,0.000296,-0.013170
2,0.000582,0.000308,0.000480,0.000471,0.000379,0.000430,0.000379,-0.011181
3,0.000513,0.000379,0.000480,0.000471,0.000389,0.000296,0.000389,-0.011774
4,0.000631,0.000296,0.000430,0.000296,0.000513,0.000308,0.000379,-0.012013
5,0.000471,0.000631,0.000430,0.000379,0.000235,0.000266,0.000349,-0.013421
6,0.000349,0.000582,0.000513,0.000266,0.000471,0.000631,0.000235,-0.014521
7,0.000582,0.000513,0.000430,0.000471,0.000513,0.000513,0.000430,-0.010495
8,0.000296,0.000430,0.000266,0.000631,0.000389,0.000266,0.000308,-0.016168
9,0.000296,0.000389,0.000349,0.000266,0.000389,0.000296,0.000631,-0.013511

In [105]:
x = data.drop('desloc_y', axis = 1)
y = data['desloc_y']

In [106]:
x_train_sm = sm.add_constant(x)
lr= sm.OLS(y,x_train_sm).fit()
print(lr.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               desloc_y   R-squared:                       0.981
Model:                            OLS   Adj. R-squared:                  0.916
Method:                 Least Squares   F-statistic:                     15.01
Date:                Thu, 20 Apr 2023   Prob (F-statistic):             0.0638
Time:                        11:43:28   Log-Likelihood:                 70.053
No. Observations:                  10   AIC:                            -124.1
Df Residuals:                       2   BIC:                            -121.7
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0296      0.003     -9.621      0.011      -0.043      -0.016
Section G0     9.1774      1.712      5.362      0.033       1.813      16.542
Section G1     1.5190      2.301      0.660      0.577      -8.382      11.420
Section G2     9.8111      3.433      2.858      0.104      -4.958      24.580
Section G3     5.1685      1.527      3.385      0.077      -1.401      11.738
Section G4     1.2697      3.847      0.330      0.773     -15.284      17.824
Section G5     2.6993      2.860      0.944      0.445      -9.606      15.004
Section G6    10.6198      1.912      5.555      0.031       2.394      18.845
==============================================================================
Omnibus:                        1.636   Durbin-Watson:                   1.329
Prob(Omnibus):                  0.441   Jarque-Bera (JB):                0.831
Skew:                           0.682   Prob(JB):                        0.660
Kurtosis:                       2.635   Cond. No.                     3.63e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.63e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

/Users/leonardominski/Documents/Projetos Python/Estagio/.venv/lib/python3.9/site-packages/scipy/stats/_stats_py.py:1736: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

In [107]:
x_train_sm

,const,Section G0,Section G1,Section G2,Section G3,Section G4,Section G5,Section G6
0,1.0,0.000308,0.000513,0.000513,0.000582,0.000349,0.000480,0.000389
1,1.0,0.000471,0.000471,0.000349,0.000480,0.000480,0.000480,0.000296
2,1.0,0.000582,0.000308,0.000480,0.000471,0.000379,0.000430,0.000379
3,1.0,0.000513,0.000379,0.000480,0.000471,0.000389,0.000296,0.000389
4,1.0,0.000631,0.000296,0.000430,0.000296,0.000513,0.000308,0.000379
5,1.0,0.000471,0.000631,0.000430,0.000379,0.000235,0.000266,0.000349
6,1.0,0.000349,0.000582,0.000513,0.000266,0.000471,0.000631,0.000235
7,1.0,0.000582,0.000513,0.000430,0.000471,0.000513,0.000513,0.000430
8,1.0,0.000296,0.000430,0.000266,0.000631,0.000389,0.000266,0.000308
9,1.0,0.000296,0.000389,0.000349,0.000266,0.000389,0.000296,0.000631

In [111]:
x_train_sm

,const,Section G0,Section G1,Section G2,Section G3,Section G4,Section G5,Section G6
0,1.0,0.000308,0.000513,0.000513,0.000582,0.000349,0.000480,0.000389
1,1.0,0.000471,0.000471,0.000349,0.000480,0.000480,0.000480,0.000296
2,1.0,0.000582,0.000308,0.000480,0.000471,0.000379,0.000430,0.000379
3,1.0,0.000513,0.000379,0.000480,0.000471,0.000389,0.000296,0.000389
4,1.0,0.000631,0.000296,0.000430,0.000296,0.000513,0.000308,0.000379
5,1.0,0.000471,0.000631,0.000430,0.000379,0.000235,0.000266,0.000349
6,1.0,0.000349,0.000582,0.000513,0.000266,0.000471,0.000631,0.000235
7,1.0,0.000582,0.000513,0.000430,0.000471,0.000513,0.000513,0.000430
8,1.0,0.000296,0.000430,0.000266,0.000631,0.000389,0.000266,0.000308
9,1.0,0.000296,0.000389,0.000349,0.000266,0.000389,0.000296,0.000631

In [114]:
dy_adm = 0.01
cost = 0
penalização = 10**8


# 4 5 7
#barras de 1 metro!
def trelica(x):    
    
    volume = 0
    for i in range(7):

        if i ==0:

            continue

        elif i ==4 or i==5 or i == 7: 

            volume += x[i]*1.41421356

        else:

            volume += x[i]*1

    if lr.predict(x)/dy_adm > 1 or lr.predict(x)/dy_adm < -1:
        cost = volume + 10**8
        return cost
    else:
        cost = volume
        return cost

In [115]:
trelica([1, 0.000308, 0.000308, 0.000308, 0.000308, 0.000308, 0.000308, 0.000308])

100000000.00210315

In [ ]:
#eu tenho um banco de dados que os valores de seção estão definidos como o valor da área e eu quero que eles sejam definidos de 1 a 13 com base nesses valores 

# 2.35E-04, 0.04,  0.003, 3.45E-08, 3.45E-08, 1.21E-02, 1.21E-02, 7.80E-03, 10.33, 6.93E-10, 1.24E-06, 1.11E-02, 0], # 1 L40x40x3
#         [3.08E-04, 0.04,  0.004, 4.61E-08, 4.61E-08, 1.21E-02, 1.21E-02, 7.80E-03, 7.5,   1.56E-09, 1.55E-06, 1.15E-02, 0], # 2 L40x40x4
#         [3.79E-04, 0.04,  0.005, 5.43E-08, 5.43E-08, 1.20E-02, 1.20E-02, 7.70E-03, 5.8,   2.97E-09, 1.97E-06, 1.18E-02, 0], # 3 L40x40x5
#         [2.66E-04, 
#         [3.49E-04, 
#         [4.30E-04, 
#         [2.96E-04, 
#         [3.89E-04
#         [4.80E-04,
#         [4.71E-04, 
#         [5.82E-04, 
#         [5.13E-04